.page-wrapper{
    width:100%;
}

.footer{
    position:absolute; bottom:1px; width:100%;  text-align:right;
}

.page-wrapper{
    padding-top: 5%;
    margin-left: 0%;
    padding-right: 3%;
}
.container-fluid{
    margin-left:10%;
    margin-right:5%;
}