.centrado {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    color: cadetblue;
    font-weight: bold
  }
  
  .textRojo {
    margin-top: 1%;
    color:red;
    font-family: 'Times New Roman', Times, serif;
  }