
<div
        class="
          auth-wrapper
          d-flex
          no-block
          justify-content-center
          align-items-center
        ">
        <div class="auth-box p-4 bg-white rounded">
          <div>
            <div class="logo text-center">
              <span class="db"
                ><img src="../../../assets/images/logo/logoCA7-login.png" alt="logo"
              /></span>
              <h3 class="font-weight-medium mb-3 mt-1">Recuperar Contraseña</h3>
            </div>
            <!-- Form -->
            <div class="row">
              <div class="col-12">
                <form class="form-horizontal mt-3"
                (submit)="changePassword()"
                [formGroup]="passwordForm">
                  <div class="mb-3 row">
                    <div class="col-12">
                      <input
                        class="form-control"
                        type="text"
                        required=""
                        placeholder="Identificación"
                        formControlName="Identificacion"
                      />
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <div class="col-12">
                      <input
                        class="form-control"
                        type="email"
                        required=""
                        placeholder="Email"
                        formControlName="email"
                      />
                    </div>
                  </div>
                  <div class="text-center">
                    <div class="col-xs-12">
                      <button class="btn d-block w-100 btn-success" type="submit">
                        Resetear
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
