<!DOCTYPE html>
<html>
  <body>
    <div class="main-wrapper">
      <!-- ============================================================== -->
    
      <!-- Login box.scss -->
      <!-- ============================================================== -->
      <div class="error-box">
        <div class="error-body text-center">
          <h1 class="error-title">ERROR</h1>
          <h3 class="text-uppercase error-subtitle">Página No Funciona</h3>
          <p class="text-muted mt-4 mb-4">
            Consulte al Administrador de Tecnología de Información
          </p>
          <a
            routerLink="/login"
            class="btn btn-info btn-rounded waves-effect waves-light mb-5"
            >LOGIN</a>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Login box.scss -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper scss in scafholding.scss -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper scss in scafholding.scss -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right Sidebar -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right Sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
    </script>
  </body>
</html>
