input[type="number"]:disabled,
input[type="text"]:disabled,
input[type="date"]:disabled,
select:disabled
{
  background: white;
  border: none; 
}

.btn {
    background-color: #016745 ; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin-right: 1%;
  }
  
  .alinear{
    background-color: #f71e3b ; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin-right: 1%;
    float: right;
  }

  p{
    margin: 1%;
    color:blue;
    cursor: pointer;
  }