<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <h4 class="card-title">Menú Principal</h4>
        </div>
        <div class="row animated fadeIn fast" *ngIf="cargando">
          <div class="col-12">
              <div class="alert alert-success text-center">
                  <h4 class="alert-heading">Cargando</h4>
                  <i class="fa fa-spin fa-refresh fa-2x"></i>
                  <p class="mb-0">Por favor espere</p>
              </div>
          </div>
        </div>
        <form class="form-horizontal" 
          [formGroup]="menuForm"
          (submit)="createMenu()"
          >
          <div class="card-body">
            <div *ngIf="!mainMenu" class="mb-3 row">
                <label for="com12" class="col-sm-3 text-end control-label col-form-label">
                  LINK
                </label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="fullname" placeholder="Link Url" formControlName="LINK" 
                      style="text-transform:lowercase;">
                </div>
              </div>
            <div class="mb-3 row">
              <label for="fullname" class="col-sm-3 text-end control-label col-form-label">NOMBRE</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="Identificacion" placeholder="Nombre del Menú" 
                formControlName="TITLE" style="text-transform:uppercase;">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="com12" class="col-sm-3 text-end control-label col-form-label">
                ICONO
              </label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="fullname" placeholder="Nombre del Icono" formControlName="ICON" 
                    style="text-transform:lowercase;">
              </div>
            </div>
            <div *ngIf="!mainMenu" class="mb-3 row">
              <label for="fullname" class="col-sm-3 text-end control-label col-form-label">Menú Padre</label>
              <div class="col-sm-9">
                <select class="form-control form-select" data-placeholder="Seleccionar Opción Menú Padre"  
                  formControlName="parent_id">
                    <option *ngFor="let x of menupadre" value={{x.ID}}>{{x.ID}} - {{x.TITLE}}</option>
                  </select>
              </div>
            </div>
          </div>
          <div class="p-3 border-top">
            <div class="text-end">
              <button type="submit"
                  class="
                  btn btn-success
                  rounded-pill
                  px-4
                  waves-effect waves-light
                ">
                Guardar
              </button>
              <button type="submit" routerLink="/usuario/usermainmenu" class="
                  btn btn-danger
                  rounded-pill
                  px-4
                  waves-effect waves-light
                ">
                <a >
                  Cancelar
                </a>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>