
td{
    padding: 8px;
	vertical-align: middle 
}

.title-part-padding{
    padding: 2%;
}

a 
{
color: white;
}

button
{
    margin-left: 1%;
    border: none;
}
.dropdown dropstart{
    color: black;
}
