.centrado {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    color: cadetblue;
    font-weight: bold;
    margin-top: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size:165%;
  }