// this is bootstrap override

[dir="rtl"] {
  @import "spacing-rtl";
  @import "rtl-components";
  // horizontal rtl
  @import "horizontal-rtl";

  text-align: right;
  direction: rtl;

  .page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item {
    padding-right: 0.5rem;
    padding-left: 0;
    &::before {
      content: "\e64a";
      padding-right: 0;
      padding-left: 0.5rem;
    }
  }

  .hide-menu {
    margin-right: 0 !important;
    margin-left: 0;
  }

  .modal-header .close {
    float: left;
    margin: -1rem auto -1rem -1rem;
  }

  .modal-footer > :not(:last-child) {
    margin-left: 0.25rem;
    margin-right: 0;
  }

  .navbar-nav,
  .nav,
  .list-unstyled,
  .pagination {
    padding-right: 0;
  }

  // header

  .topbar {
    .navbar-collapse {
      padding: 0 0 0 10px;
    }
    .top-navbar {
      .navbar-header {
        .navbar-brand {
          .logo-icon {
            margin-right: 0;
          }
        }
      }
      .app-search {
        .srh-btn {
          right: unset;
          left: 10px;
        }
      }
    }
    .dropdown-menu.dropdown-menu-end {
      .with-arrow {
        left: 0;
        right: auto;
        > span {
          left: 20px;
          right: auto;
        }
      }
    }
  }

  .search-box .app-search .srh-btn {
    right: auto;
    left: 20px;
  }

  // customizer
  .customizer {
    left: -280px;
    right: auto;
    &.show-service-panel {
      left: 0;
      right: auto;
    }
    .service-panel-toggle {
      right: -54px;
      left: auto;
    }
  }

  // sidebar
  .sidebar-nav {
    ul {
      .sidebar-item {
        .sidebar-link {
          i-feather {
            margin: 0 5px 2px 8px;
          }
        }
      }
    }
    .has-arrow {
      &::after {
        margin-left: 0;
        margin-right: 10px;
        right: auto;
        left: 15px;
      }
    }
  }

  // inner left-right part

  $left-part-width: 260px;

  .left-part {
    border-left: 1px solid $border-color;
    border-right: none;
    .show-left-part {
      left: -41px;
      right: auto;
    }
  }

  .right-part {
    margin-right: 0;
    margin-left: 0;
    .dropdown-menu {
      right: auto !important;
      left: 0 !important;
    }
  }

  .reverse-mode {
    .left-part {
      right: auto;
      left: 0;
    }
    .show-left-part {
      left: auto;
      right: -41px;
    }
    .right-part {
      margin-right: 0px;
      margin-left: $left-part-width;
    }
  }

  .profiletimeline {
    padding-right: 40px;
    padding-left: 0;
    margin: 40px 30px 0 10px;
    border-right: 1px solid $border-color;
    border-left: none;
    .sl-left {
      float: right;
      margin-right: -60px;
      margin-left: 15px;
    }
  }

  .mailbox .message-center .message-item .mail-contnet {
    padding-right: 10px;
    padding-left: 0;
  }

  .feed-widget .feed-body .feed-item > .feed-icon {
    margin-right: 0;
    margin-left: 10px;
  }

  .chat-list {
    .chat-item {
      .chat-content {
        padding-right: 15px;
        padding-left: 0;
      }
      .chat-time {
        margin: 5px 65px 15px 0;
      }
      &.odd .chat-content,
      &.odd .chat-time {
        text-align: left;
      }
    }
  }

  .note-color {
    left: unset !important;
    right: 0;
  }

  .note-title,
  .note-time {
    margin-right: 15px;
    margin-left: 0 !important;
  }

  // plugins

  .datepicker {
    direction: rtl;
  }

  // form wizard
  .wizard {
    > .steps {
      > ul {
        > li {
          float: right;
        }
      }
    }
    > .actions {
      > ul {
        > li {
          float: right;
        }
      }
    }
  }
  .wizard-content {
    .wizard {
      > .steps {
        > ul {
          > li {
            &:after {
              right: auto;
              left: 0;
            }
            &:before {
              left: auto;
              right: 0;
            }
          }
        }
      }
    }
    .wizard.vertical {
      > .steps {
        float: right;
      }
    }
  }

  // steamline

  .steamline .sl-left {
    margin-left: 6px !important;
    margin-right: -15px !important;
  }

  //
  // recent comments
  //
  .comment-footer .action-icons a {
    padding-left: 0;
    padding-right: 7px;
  }

  // contact list
  #btnAddContact {
    position: absolute !important;
    left: 15px;
    right: unset !important;
    top: 15px !important;
  }

  &#main-wrapper {
    /*sidebar type*/

    &[data-sidebartype="full"] {
      .page-wrapper {
        margin-right: $sidebar-width-full;
        margin-left: 0;
      }
    }

    &[data-sidebartype="iconbar"] {
      .page-wrapper {
        margin-right: $sidebar-width-iconbar;
        margin-left: 0;
      }
    }

    &[data-sidebartype="overlay"] {
      .left-sidebar {
        right: -$sidebar-width-full;
        left: auto;
      }
      &.show-sidebar {
        .left-sidebar {
          right: 0;
          left: auto;
        }
      }
    }
  }

  .dz-hidden-input {
    display: none;
  }

  // apexchart tooltip rtl

  .apexcharts-tooltip-series-group {
    text-align: right;
  }

  .apexcharts-tooltip-marker {
    margin-right: 0;
    margin-left: 10px;
  }

  .apexcharts-tooltip-text-value,
  .apexcharts-tooltip-text-z-value {
    margin-left: 0;
    margin-right: 5px;
  }

  //
  // Vertical responsive layout
  //

  @include media-breakpoint-up(lg) {
    &#main-wrapper {
      /*Sidebar position*/

      &[data-sidebar-position="fixed"][data-sidebartype="full"],
      &[data-sidebar-position="fixed"][data-sidebartype="overlay"] {
        .topbar .top-navbar .navbar-collapse {
          margin-right: $sidebar-width-full;
          margin-left: 0;
        }
      }

      &[data-sidebartype="overlay"] {
        .left-sidebar {
          right: -$sidebar-width-full;
          left: unset !important;
        }
        .page-wrapper {
          margin-left: unset !important;
          margin-right: 0;
        }
        &.show-sidebar {
          .left-sidebar {
            left: unset !important;
            right: 0;
          }
        }
      }

      &[data-sidebar-position="fixed"][data-sidebartype="mini-sidebar"] {
        .topbar .top-navbar .navbar-collapse {
          margin-right: $sidebar-width-mini;
          margin-left: 0;
        }
        .left-sidebar {
          .sidebar-nav ul .sidebar-item {
            width: $sidebar-width-mini;
          }
          &:hover {
            .sidebar-nav ul .sidebar-item {
              width: $sidebar-width-full;
            }
          }
        }
      }

      // iconbar
      &[data-sidebar-position="fixed"][data-sidebartype="iconbar"] {
        .topbar .top-navbar .navbar-collapse {
          margin-right: $sidebar-width-iconbar;
          margin-left: 0;
        }
        .sidebar-nav ul .sidebar-item .sidebar-link .hide-menu {
          margin: 0 !important;
        }
        .page-wrapper {
          margin-right: $sidebar-width-iconbar;
          margin-left: 0;
        }
      }

      /*Fixed sidebar with minisidebar*/

      &[data-sidebar-position="fixed"][data-sidebartype="mini-sidebar"] {
        .topbar .top-navbar .navbar-collapse {
          margin-right: $sidebar-width-mini;
          margin-left: 0;
        }
      }

      &[data-sidebartype="mini-sidebar"] {
        .page-wrapper {
          margin-right: $sidebar-width-mini;
          margin-left: 0;
        }
        .nav-small-cap {
          margin-left: 0;
          justify-content: center;
        }
      }
    }
  }

  @media (max-width: 766px) {
    &#main-wrapper {
      &[data-sidebartype="mini-sidebar"] {
        .left-sidebar {
          right: -$sidebar-width-full;
          left: auto;
        }
      }

      &.show-sidebar {
        .left-sidebar {
          right: 0;
          left: auto;
        }
      }
    }

    .left-part {
      right: -260px;
      left: auto;
      &.show-panel {
        right: 0px;
        left: auto;
      }
    }

    .right-part {
      margin-right: 0px;
    }
  }

  // new

  @media (max-width: 767px) {
    .topbar .top-navbar {
      .dropdown-menu {
        left: auto !important;
        right: 0 !important;
        transform: translate(0px, 64px) !important;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &[data-sidebar-position="fixed"][data-sidebartype="mini-sidebar"] {
      .topbar .top-navbar .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    &#main-wrapper {
      &[data-sidebartype="full"],
      &[data-sidebartype="iconbar"],
      &[data-sidebartype="mini-sidebar"],
      &[data-sidebartype="overlay"] {
        .left-sidebar {
          left: unset;
          right: -$sidebar-width-full;
        }
      }
      &.show-sidebar {
        .left-sidebar {
          right: 0;
          left: unset !important;
        }
      }
      .page-wrapper {
        margin-right: 0 !important;
        margin-left: 0 !important;
      }

      .left-part {
        right: -260px;
        left: auto;
        &.show-panel {
          right: 0px;
          left: auto;
        }
      }

      .right-part {
        margin-right: 0px;
      }
    }
  }

  //
  // Theme Colors
  //
  &#main-wrapper[data-layout="vertical"] {
    .left-sidebar[data-sidebarbg="skin6"] {
      .sidebar-nav {
        ul {
          .sidebar-item.active {
            > .sidebar-link {
              border-left: 0 !important;
              border-right: 3px solid $info !important;
            }
          }
          .sidebar-item {
            > .sidebar-link {
              border-left: 0 !important;
              border-right: 3px solid transparent !important;
            }
            .first-level {
              .sidebar-item.active {
                > .sidebar-link {
                  border-right: 0 !important;
                }
              }
              .sidebar-item {
                > .sidebar-link {
                  border-right: 0 !important;
                }
              }
            }
          }
        }
      }
    }
    .left-sidebar[data-sidebarbg="skin1"] {
      .sidebar-nav {
        ul {
          .sidebar-item.active {
            > .sidebar-link {
              border-left: 0 !important;
              border-right: 3px solid $white !important;
            }
          }
          .sidebar-item {
            .first-level {
              .sidebar-item.active {
                > .sidebar-link {
                  border-right: 0 !important;
                }
              }
              .sidebar-item {
                > .sidebar-link {
                  border-right: 0 !important;
                }
              }
            }
          }
        }
      }
    }
    .left-sidebar[data-sidebarbg="skin2"] {
      .sidebar-nav {
        ul {
          .sidebar-item.active {
            > .sidebar-link {
              border-left: 0 !important;
              border-right: 3px solid $white !important;
            }
          }
          .sidebar-item {
            .first-level {
              .sidebar-item.active {
                > .sidebar-link {
                  border-right: 0 !important;
                }
              }
              .sidebar-item {
                > .sidebar-link {
                  border-right: 0 !important;
                }
              }
            }
          }
        }
      }
    }
    .left-sidebar[data-sidebarbg="skin3"] {
      .sidebar-nav {
        ul {
          .sidebar-item.active {
            > .sidebar-link {
              border-left: 0 !important;
              border-right: 3px solid $white !important;
            }
          }
          .sidebar-item {
            .first-level {
              .sidebar-item.active {
                > .sidebar-link {
                  border-right: 0 !important;
                }
              }
              .sidebar-item {
                > .sidebar-link {
                  border-right: 0 !important;
                }
              }
            }
          }
        }
      }
    }
    .left-sidebar[data-sidebarbg="skin4"] {
      .sidebar-nav {
        ul {
          .sidebar-item.active {
            > .sidebar-link {
              border-left: 0 !important;
              border-right: 3px solid $white !important;
            }
          }
          .sidebar-item {
            .first-level {
              .sidebar-item.active {
                > .sidebar-link {
                  border-right: 0 !important;
                }
              }
              .sidebar-item {
                > .sidebar-link {
                  border-right: 0 !important;
                }
              }
            }
          }
        }
      }
    }
    .left-sidebar[data-sidebarbg="skin5"] {
      .sidebar-nav {
        ul {
          .sidebar-item.active {
            > .sidebar-link {
              border-left: 0 !important;
              border-right: 3px solid $white !important;
            }
          }
          .sidebar-item {
            .first-level {
              .sidebar-item.active {
                > .sidebar-link {
                  border-right: 0 !important;
                }
              }
              .sidebar-item {
                > .sidebar-link {
                  border-right: 0 !important;
                }
              }
            }
          }
        }
      }
    }
  }
  &#main-wrapper[data-sidebartype="mini-sidebar"] {
    .sidebar-nav ul .sidebar-item .sidebar-link {
      padding: 14px 11px;
    }
  }
}
