.centrado {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    color: rgb(5, 0, 163);
    font-weight: bold;
    margin-bottom: 3%;
  }