<div
        class="
          auth-wrapper
          d-flex 
          no-block
          justify-content-center
          align-items-center
        "
        style="
          background: green
            no-repeat center center;
          background-size: cover;
        "
      >
        <div class="auth-box p-4 bg-white rounded">
          <div id="loginform">
            <div class="logo">
              <h3 class="box-title mb-3">Cambio Contraseña</h3>
            </div>
            <!-- Form -->
            <div class="row">
              <div class="col-12">
                <form
                  class="form-horizontal mt-3 form-material"
                  [formGroup]="passwordForm"
                  (submit)="updatePassword()"
                  >
                  <div class="form-group mb-3">
                    <div class="">
                      <input
                        class="form-control"
                        type="password" formControlName="OldPass" required
                        placeholder="Contraseña Anterior"
                      />
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <div class="">
                      <input
                        class="form-control"
                        type="password" formControlName="newPass" required placeholder="Contraseña Nueva"
                      />
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <div class="">
                      <input
                        class="form-control" type="password" formControlName="confirmPass" required
                        placeholder="Repetir Contraseña"
                      />
                    </div>
                  </div>
                  <div class="form-group text-center mt-4 mb-3">
                    <div class="col-xs-12">
                      <button
                        class=" btn btn-info d-block w-100 waves-effect waves-light"
                        type="submit">
                        Actualizar Contraseña
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>