<div class="row">
  <div class="row animated fadeIn low" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-success text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
  </div>
  <div class="d-flex justify-content-end" *ngIf="editado">
    <button type="button" class="btn btn-success btn-rounded m-t-10 m-1" data-bs-toggle="modal"
      data-bs-target="#add-rol" (click)="getPasajeros()" >
      Pasajeros
    </button>
    <button type="button" class="btn btn-success btn-rounded m-t-10 m-1" data-bs-toggle="modal"
    data-bs-target="#add-rol" (click)="getTransacciones()" >
    Estados
  </button>
  <button type="button" class="btn btn-success btn-rounded m-t-10 m-1" data-bs-toggle="modal"
    data-bs-target="#add-rol" (click)="notificar(idSolicitud)" *ngIf="idEstado == 1">
    Notificar
  </button>
  </div>
  <div class="col-12" *ngIf="!cargando">
    <div class="card" >
      <form class="form-horizontal"
        [formGroup]="solicitudForm"
        (ngSubmit)="guardarSolicitud()">
        <div class="card-body" >
          <h3 class="card-title">Datos del Recorrido</h3>
          <div class="mb-3 row" *ngIf="editado">
            <label class="col-sm-3 text-end control-label col-form-label">Solicitud</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="NUM_SOLICITUD">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="fname" class="col-sm-3 text-end control-label col-form-label">Area</label>
            <div class="col-sm-9">
              <select class="form-select" formControlName="AREA">
                <option *ngFor="let x of AreaDoc" value={{x.ID_AREADOC}}>{{x.NOMBRE}}</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="lname" class="col-sm-3 text-end control-label col-form-label">Conductor</label>
            <div class="col-sm-9">
              <select class="form-select" formControlName="CONDUCTOR">
                <option *ngFor="let x of chofer" value={{x.ID_CONDUCTOR}}>{{x.NOMBRE}}</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 text-end control-label col-form-label">Salida</label>
            <div class="col-sm-9">
              <input type="datetime-local" class="form-control" formControlName="FECHA_SALIDA" value="2024-01-01T12:00:00">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 text-end control-label col-form-label">Regreso</label>
            <div class="col-sm-9">
              <input type="datetime-local" class="form-control" formControlName="FECHA_REGRESO" value="2024-01-01T12:00:00">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="lname" class="col-sm-3 text-end control-label col-form-label">Motivo Salida</label>
            <div class="col-sm-9">
              <select class="form-select" formControlName="MOTIVO_SALIDA">
                <option *ngFor="let x of MotSalidVeh" value={{x.ID_MOTIVO}}>{{x.DESCRIPCION}}</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 text-end control-label col-form-label">Destino</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"  placeholder="Destino Principal del Recorrido" formControlName="DESTINO">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 text-end control-label col-form-label">Detalle</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="OBSERVACIONES">
            </div>
          </div>
          <div class="mb-3 row" *ngIf="editado">
            <label for="lname" class="col-sm-3 text-end control-label col-form-label">Estado</label>
            <div class="col-sm-9">
              <select class="form-select" formControlName="ESTADO" [attr.disabled]="true">
                <option *ngFor="let x of estados" value={{x.IDESTADO}}>{{x.NOMBRE}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="p-3 border-top">
          <div class="text-end">
            <button type="submit" class="
                btn btn-info
                rounded-pill
                px-4
                waves-effect waves-light m-2
              " [attr.disabled]="idEstado !== '1' && idEstado !== undefined ? true : null">
              Guardar
            </button>
            <button type="button" class="
                btn btn-dark
                rounded-pill
                px-4
                waves-effect waves-light
              " routerLink="//vehiculos/solicitud/">
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>