<div class="container">
    <div class="border-bottom title-part-padding">
      <h4 class="card-title mb-0">Lista de Beneficios</h4>
    </div>
    <div class="card-body">
      <div class="row">
      </div>
      <div class="d-flex">
        <button type="button" class="btn btn-success btn-rounded" data-bs-toggle="modal" data-bs-target="#add-rol"
          (click)="modalOpenBackdrop(modalbeneficio)">
            Nuevo Beneficio
        </button>
        <!--Modal-->
        <ng-template #modalbeneficio let-modal>
          <form autocomplete="off" [formGroup]="beneficioForm"
          (submit)="createBeneficio()">
            <div class="modal-header justify-content-center mt-2">
            <span>
              <h2>Agregar Beneficio</h2>    
            </span>
            </div>
            <div class="modal-body px-4">
              <div class="mb-3">
                <label>Beneficio</label>
                <input
                  class="form-control"
                  style="text-transform:uppercase;"
                  type="text"
                  required
                  formControlName="BENEFICIO"
                  placeholder="Beneficio"
                />
              </div>
              <div class="mb-3">
                <label>Observación</label>
                <input
                  class="form-control"
                  style="text-transform:uppercase;"
                  type="text"
                  formControlName="OBSERVACION"
                  placeholder="Observación"
                />
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <button
                class="btn btn-light-info text-info font-medium"
                type="submit"
                (click)="modal.close('Save click')">
                Guardar
              </button>
              <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect" 
                            (click)="closeModal()">Cerrar
                </button>
            </div>
          </form>
        </ng-template>
      </div>
      <div class="table-responsive">
        <table id="demo-foo-addrow" class="table table-bordered m-t-30 table-hover contact-list footable footable-5 footable-paging footable-paging-center breakpoint-xs" data-paging="true" data-paging-size="7">
          <thead>
            <tr class="footable-header">
                <th>Beneficio</th>
                <th>Estado</th>
                <th>Editar</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let x of beneficios">
            <td style="display: table-cell;">{{x.BENEFICIO}}</td>
              <td style="display: table-cell;">
                <span *ngIf="x.ESTADO == 'A' " class="badge bg-secondary">ACTIVO</span>
                <span *ngIf="x.ESTADO == 'I' " class="badge bg-danger">INACTIVO</span>
              </td>
              <td style="text-align: center; ">
                <div>
                  <button *ngIf="x.ESTADO == 'I'" (click)="activarBeneficio(x.ID_BENEFICIO,x.BENEFICIO,x.OBSERVACION)" class="like btn-rounded" 
                      title="Activar" data-toggle="modal">
                    <i class="fas fa-check" style="color:#016745;"></i>
                  </button>
                  <button *ngIf="x.ESTADO == 'A'" (click)="desactivarBeneficio(x.ID_BENEFICIO,x.BENEFICIO,x.OBSERVACION)" class="like btn-rounded" 
                      title="Desactivar" data-toggle="modal">
                    <i class="fas fa-close" style="color:#C34A36;"></i>
                  </button>
                  <button *ngIf="x.ESTADO == 'A'" (click)="modalEdit(modalbeneficio,x.ID_BENEFICIO,x.BENEFICIO,x.OBSERVACION)" 
                      class="like btn-rounded" title="Editar" data-toggle="modal">
                    <i class="fas fa-eye" style="color:#36c388;"></i>
                  </button>    
                </div>
              </td>
            </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
